body {
  padding: 0px;
  margin: 0px;
  width: 100vw;
  overflow: hidden;
  background-color: white;
}

.App {
  display: flex;
  flex-direction: row;
  margin-top: 100px;
  /* justify-content: space-between; */
}

.App .left {
  width: 80vw;
}

.App .right img {
  width: 700px !important;
  height: 500px !important;
}

.overHeader {
  margin-top: 50px;
  font-family: "Poppins", sans-serif;
  color: #16133d;
}

.App .left .renderedQuestion {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  margin-top: 50px;
  font-family: "Poppins", sans-serif;
}

.App .right img {
  width: 60vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sectionHeader {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  color: #12192a;
  font-size: var(--font-size-xs);
  text-transform: uppercase;
  letter-spacing: -0.025em;
}

.stepDiv {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 50px;
}

.questionTitle {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 32px;
  line-height: 1;
  letter-spacing: -0.05em;
}

.controllBtn {
  margin-left: 10px;
  margin-top: 30px;
  gap: 20px;
  display: flex;
  flex-direction: row;
}

.controllBtn .prev {
  padding: 15px;
  border: 0.5px solid black;
  border-radius: 50px;
  width: 200px;
  background: linear-gradient(to right, #16133d, #6357a5);
  color: white;
  font-weight: bolder;
  font-size: 15px;
  cursor: pointer;
  font-family: "Poppins", sans-serif;
}

.controllBtn .prev:hover {
  background: white;
  color: black;
}

.controllBtn .sub {
  padding: 15px;
  border: 0.5px solid black;
  border-radius: 50px;
  width: 200px;
  background: white;
  color: black;
  font-weight: bolder;
  font-size: 15px;
  cursor: pointer;
  font-family: "Poppins", sans-serif;
}

.controllBtn .sub:hover {
  background: linear-gradient(to right, #16133d, #6357a5);
  color: white;
}

@media (max-width: 768px) {

body{
    overflow: scroll;
}
  .App {
    flex-direction: column-reverse;
    justify-content: center; /* Center elements in column */
  }

  .App .left,
  .App .right {
    width: 100%; /* Full width on mobile */
  }

  .App .right img {
    width: 100% !important; /* Adjust image to fit screen width */
    height: auto !important; /* Maintain aspect ratio */
  }
}
